/* card layout */
.card {
    border:1px solid;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    font-size: small;
}

.card img {
    border-radius: 10px;
    width: 345px;
    height: 250px;
    padding: 1px 2.5px;
}

.card_desc {
    padding: 2px 4px;
}